<button class="btn-purple">Test Buton</button>

<hr>

<div class="card-item">
  <div class="card-image">
    <img src="assets/img/angular-tailwindcss-kullanimi.jpg" alt="Tailwind CSS'i Angular ile kullanmak">
  </div>
  <div class="card-content">
    <h3 class="card-title ">Tailwind CSS'i Angular ile kullanmak</h3>
    <p class="card-description">
      Merhaba. Bu yazıda Angular projelerine Tailwind CSS'i dahil etmek için yapmamız gerekenleri adım adım anlatacağım.
    </p>
    <a href="https://kodumunblogu.net/detail/tailwind-cssi-angular-ile-kullanmak" target="_blank" class="btn-blue">Devamını oku</a>
  </div>
</div>
